---
  root: true

  env:
    browser: true
    commonjs: true
    es6: true

  extends: eslint:recommended

  ecmaFeatures:
    module: true
    modules: true

  rules:
    brace-style: [2, "1tbs", { allowSingleLine: true }]
    camelcase: 2
    comma-dangle: [2, "always-multiline"]
    comma-style: [2, "last"]
    curly: 2
    eqeqeq: [2, "allow-null"]
    func-style: [2, "declaration"]
    guard-for-in: 2
    indent: [2, 2]
    new-cap: 2
    no-alert: 2
    no-caller: 2
    no-floating-decimal: 2
    no-lonely-if: 2
    no-new: 2
    no-shadow: 2
    no-unused-vars: [2, { vars: "local", args: "after-used", argsIgnorePattern: "^_" }]
    no-use-before-define: 2
    quotes: [2, "single", "avoid-escape"]
    radix: 2
    semi: 2
    space-after-keywords: [2, "always"]
    space-before-blocks: 2
    space-before-function-paren: [2, {"anonymous": "always", "named": "never"}]
    spaced-comment: [2, "always"]
    strict: [2, "global"]
    valid-jsdoc: [1, { requireParamDescription: false, requireReturn: false, requireReturnDescription: false, prefer: { return: "returns" }}]
    wrap-iife: [2, "inside"]

# vim: filetype=yaml
