doctype html
html(lang='en')
  head
    title Textcomplete
    link(rel='stylesheet' type='text/css' href='./main.css')
  body
    h1
      | Textcomplete
    p Autocomplete for textarea
    a(href='https://www.npmjs.com/package/textcomplete')
      img(src='http://img.shields.io/npm/v/textcomplete.svg')
    a(href='https://travis-ci.org/yuku-t/textcomplete')
      img(src='https://travis-ci.org/yuku-t/textcomplete.svg?branch=master')
    a(href='https://codeclimate.com/github/yuku-t/textcomplete/coverage')
      img(src='https://codeclimate.com/github/yuku-t/textcomplete/badges/gpa.svg')
    a(href='http://inch-ci.org/github/yuku-t/textcomplete')
      img(src='http://inch-ci.org/github/yuku-t/textcomplete.svg?branch=master')
    textarea#textarea1
    script(src='./main.js')
