doctype html
html(lang='en')
  head
    title Textcomplete
    link(rel='stylesheet' type='text/css' href='./main.css')
  body
    h1
      | Textcomplete
      small Autocomplete for textarea
    textarea#textarea1
    script(src='./bundle.js')
    script(src='./src/main.js')
